body {
  background: linear-gradient(to bottom, #003366, #006699); /* Thème hivernal */
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.welcome-container {
  text-align: center;
  max-width: 600px;
}

.welcome-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.welcome-container p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.welcome-btn {
  position: relative;
  padding: 12px 35px;
  background: #fec195;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1, .star-2, .star-3, .star-4, .star-5, .star-6 {
  position: absolute;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s ease;
}

.star-1 { top: 20%; left: 20%; width: 25px; }
.star-2 { top: 45%; left: 45%; width: 15px; }
.star-3 { top: 40%; left: 40%; width: 5px; }
.star-4 { top: 20%; left: 40%; width: 8px; }
.star-5 { top: 25%; left: 45%; width: 15px; }
.star-6 { top: 5%; left: 50%; width: 5px; }

.welcome-btn:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

.welcome-btn:hover .star-1 {
  top: -80%;
  left: -30%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.welcome-btn:hover .star-2 {
  top: -25%;
  left: 10%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.welcome-btn:hover .star-3 {
  top: 55%;
  left: 25%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.nova-image {
  display: block;
  margin: 0 auto 20px;
  width: 150px; /* Ajustez la taille si nécessaire */
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  animation: glow 3s infinite alternate;
}

.nova-chat {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
  max-width: 500px;
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  text-align: left;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
